@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовая стилизация для react-calendar */
.home-calendar .react-calendar {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  @apply w-full min-w-full bg-bgBase text-primary p-4 border-none;
}

.home-calendar .react-calendar .react-calendar__navigation {
  @apply flex justify-between items-center mb-2 text-3xl;
}

.home-calendar .react-calendar .react-calendar__tile {
  @apply flex justify-center items-center relative text-base transition duration-200 ease-in-out;
}

.home-calendar .react-calendar .react-calendar__tile--now {
  background: none !important;
  box-shadow: none !important;
  @apply font-bold border-[1px] border-solid rounded-lg border-bgSoft;
}

.home-calendar .react-calendar .react-calendar__tile--now:hover {
  @apply border-transparent;
}

.home-calendar .react-calendar .react-calendar__tile--active {
  @apply bg-accentSoft font-bold;
}
/* Дни недели */
.home-calendar .react-calendar .react-calendar__month-view__days__day {
  background: none !important;
  box-shadow: none !important;
  @apply rounded-2xl transition-all duration-200 text-xs font-bold;
}

.home-calendar .react-calendar .react-calendar__month-view__days__day:hover {
  @apply outline outline-1 rounded-2xl outline-bgSoft;
}
abbr[title] {
  @apply no-underline;
}

.home-calendar .react-calendar .react-calendar__month-view__weekdays {
  @apply text-muted font-bold normal-case;
}

.home-calendar .react-calendar .react-calendar__month-view__weekdays__weekday {
  @apply flex justify-center items-center py-1;
}

/* Выходные дни */
.home-calendar .react-calendar .react-calendar__month-view__days__day--weekend {
  @apply text-primary;
}

.home-calendar .react-calendar .react-calendar__navigation__label:hover,
.home-calendar .react-calendar .react-calendar__navigation__arrow:hover {
  background: none !important;
  box-shadow: none !important;
  @apply text-muted;
}

.home-calendar .react-calendar .react-calendar__navigation__arrow:hover {
  @apply text-primary outline outline-2 outline-bgSoft;
}

/* Заголовок месяца */
.home-calendar .react-calendar .react-calendar__navigation__label {
  @apply font-bold text-lg rounded-2xl;
}

.home-calendar .react-calendar .react-calendar__navigation__arrow {
  @apply text-muted  h-12 w-12 text-center transition rounded-lg;
}

/* Ячейки с событиями */
.home-calendar .react-calendar .react-calendar__tile-content {
  @apply flex flex-col items-center gap-1 mt-1;
}
